In [51]:
from hashlib import new
from binance.client import Client

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
import mplfinance as mpf
import telegram
import time
import datetime
import logging
import sys

In [49]:
ts = 1657812872000
datetime.datetime.fromtimestamp(int(ts/1000))

datetime.datetime(2022, 7, 15, 0, 34, 32)

In [190]:
a = set([1,2,3])
2 in a

True

In [170]:
file = open("output010.txt", "r")
strings = file.readlines()
outputs = [int(s.strip()) for s in strings]
file.close()

In [206]:
file = open("input010.txt", "r")
strings = file.readlines()
strings = [s.strip() for s in strings]
file.close()

n = int(strings[0])
q = int(strings[1])
queryType = []
students1 = []
students2 = []
index = 2
for i in range(q):
    queryType.append(strings[2+i])
    students1.append(int(strings[2+i + 1 + q]))
    students2.append(int(strings[2+i + 2 + q*2]))

In [232]:
def solution(n, queryType, students1, students2):
    p = list(range(n+1))
    print(p)
    def find(x):
        if x == p[x]:
            return x
        else:
            return find(p[x])
    
    def union(x, y):
        x = find(x)
        y = find(y)
        if x < y:
            p[y] = x
        else:
            p[x] = y
    
    result = []
    for i in range(len(queryType)):
        s1 = students1[i] # 학생1 id
        s2 = students2[i] # 학생2 id
        
        print(queryType[i])
        if queryType[i] == 'Friend':
            print(s1,s2)
            union(s1, s2)
        else:
            g1 = p[s1]
            g2 = p[s2]
            g1_size = p.count(g1)
            g2_size = p.count(g2)
            print(g1, g2)
            result.append(g1_size + g2_size)
    
    re = []
    for i in range(0,n+1):
        re.append(find(i))
    return result
    
n = 7
queryType = ['Friend', 'Friend', 'Friend','Friend', 'Total']
# queryType = ['Total','Total','Total','Total']
students1 = [1,2,4,3,1]
students2 = [2,3,5,4,4]
result = solution(n, queryType, students1, students2)
result

[0, 1, 2, 3, 4, 5, 6, 7]
Friend
1 2
Friend
2 3
Friend
4 5
Friend
3 4
Total
1 1
[0, 1, 1, 1, 1, 4, 6, 7]
6

[8]

In [223]:
def solution(n, queryType, students1, students2):
    print(len(queryType), len(students1), len(students2))
    students_dict = {}
    for i in range(1, n+1):
        students_dict[i] = set([i]) # 모든 학생들의 그룹멤버 초기화. 자기자신.
    
    result = []
    for i in range(len(queryType)):
        s1 = students1[i] # 학생1 id
        s2 = students2[i] # 학생2 id
        
        s1_group = students_dict[s1]
        s2_group = students_dict[s2]
        
        # print(queryType[i])
        if queryType[i] == 'Friend':
            total = s1_group | s2_group
            total_ex = s1_group | s2_group
            total_ex.remove(s1)
            total_ex.remove(s2)
            print(s1, s2, s1_group, s2_group, total_ex)
            
            students_dict[s1] = total
            students_dict[s2] = total
            for s in total_ex:
                students_dict[s] = total
            print(students_dict)
        else:
            
#             s1_total = set()
#             for s in s1_group:
#                 s1_total = s1_total | students_dict[s]
            
#             s2_total = set()
#             for s in s2_group:
#                 s2_total = s2_total | students_dict[s]
            
            re = len(s1_group) + len(s2_group)
            result.append(re)
            if i in [944]:
                print(re)
            
        #     print(s1,s2, total, s1_total, s2_total)
        if i in [944]:
            print(queryType[i])
            print(i, s1, s2, s1_group, s2_group, re)
            print(students_dict)
        # print()
    
    # print()
    # print("최종")
    # print(students_dict)
    return result

n = 10
queryType = ['Friend', 'Total', 'Friend', 'Total', 'Friend', 'Total', 'Friend', 'Total', 'Friend', 'Total']
students1 = [1,1,3,1,5,1,1,1,3,1]
students2 = [2,2,4,3,6,3,5,5,5,5]
result = solution(n, queryType, students1, students2)

10 10 10
1 2 {1} {2} set()
{1: {1, 2}, 2: {1, 2}, 3: {3}, 4: {4}, 5: {5}, 6: {6}, 7: {7}, 8: {8}, 9: {9}, 10: {10}}
3 4 {3} {4} set()
{1: {1, 2}, 2: {1, 2}, 3: {3, 4}, 4: {3, 4}, 5: {5}, 6: {6}, 7: {7}, 8: {8}, 9: {9}, 10: {10}}
5 6 {5} {6} set()
{1: {1, 2}, 2: {1, 2}, 3: {3, 4}, 4: {3, 4}, 5: {5, 6}, 6: {5, 6}, 7: {7}, 8: {8}, 9: {9}, 10: {10}}
1 5 {1, 2} {5, 6} {2, 6}
{1: {1, 2, 5, 6}, 2: {1, 2, 5, 6}, 3: {3, 4}, 4: {3, 4}, 5: {1, 2, 5, 6}, 6: {1, 2, 5, 6}, 7: {7}, 8: {8}, 9: {9}, 10: {10}}
3 5 {3, 4} {1, 2, 5, 6} {1, 2, 4, 6}
{1: {1, 2, 3, 4, 5, 6}, 2: {1, 2, 3, 4, 5, 6}, 3: {1, 2, 3, 4, 5, 6}, 4: {1, 2, 3, 4, 5, 6}, 5: {1, 2, 3, 4, 5, 6}, 6: {1, 2, 3, 4, 5, 6}, 7: {7}, 8: {8}, 9: {9}, 10: {10}}

In [209]:
for i in range(len(outputs)):
    if result[i] != outputs[i]:
        print(i, result[i], outputs[i])

126 2 4
180 4 5
208 4 5
220 2 4
230 3 4
252 2 4
267 3 5
275 3 4
285 4 8
296 3 4
326 8 9
330 3 4
332 5 6
344 2 5
396 5 14
400 3 4
405 8 9
418 3 4
426 7 11
428 3 6
431 4 5
441 3 4
446 2 4
448 6 9
449 2 5
452 7 10
455 4 5
458 8 12
462 4 5
463 4 6
466 4 10
468 6 7
469 5 6
470 3 8
473 2 4
475 4 11
477 4 5
478 4 6
483 4 5
486 4 6
495 7 11
496 9 11
498 4 5
505 4 5
506 2 5
508 3 4
520 5 6
525 6 9
535 7 8
539 5 6
541 3 6
545 4 6
546 8 12
549 4 7
558 3 4
566 6 9
572 7 13
578 5 7
583 4 6
584 2 8
585 3 4
586 5 9
589 4 7
592 8 14
595 8 12
598 6 7
604 2 8
607 2 6
608 3 4
610 6 12
611 8 9
613 8 12
622 6 9
624 5 8
629 5 6
636 6 12
638 4 5
641 6 7
642 8 12
649 10 13
656 3 5
657 5 8
658 2 4
665 4 6
666 4 7
671 12 17
672 6 12
677 3 4
680 3 5
683 3 5
685 3 9
686 5 8
689 3 7
691 2 13
693 8 10
694 7 11
696 5 7
697 5 6
699 5 6
701 3 4
702 5 6
703 3 4
705 4 5
706 5 8
708 2 8
709 2 4
710 5 9
713 8 13
716 9 15
719 3 10
723 5 8
724 2 13
726 5 7
727 3 4
730 7 8
733 6 10
734 13 18
736 8 16
741 4 7
742 5 8
743 3 10
744 2 4
749 6 9
750 4 5
752 2 5
753 3 10
754 3 10
755 4 6
756 4 12
757 4 6
759 5 8
765 5 10
768 6 8
780 6 8
781 4 16
783 14 19
784 5 12
785 3 8
792 2 6
793 3 7
794 4 10
795 4 14
796 3 7
797 2 6
800 6 7
801 5 6
803 3 5
804 3 7
806 2 6
808 5 6
809 21 35
811 3 4
813 2 6
816 3 9
818 3 11
820 3 5
821 7 14
822 6 17
823 5 15
824 4 9
825 6 7
826 4 5
828 7 8
830 2 6
831 4 8
832 3 10
841 3 6
843 5 8
844 6 7
845 5 8
847 5 23
855 10 16
856 4 8
859 3 10
862 7 10
863 3 5
864 4 20
867 3 8
869 3 8
871 3 11
873 5 6
874 4 53
876 3 5
877 14 27
882 5 7
883 11 26
884 4 7
885 4 5
887 2 4
888 11 26
893 4 6
894 3 7
895 9 12
896 5 9
899 2 16
900 8 9
901 3 13
902 2 17
903 9 10
906 4 7
909 3 17
911 3 4
913 2 4
915 5 8
916 8 20
918 13 29
920 3 4
924 13 22
926 11 27
927 5 15
928 5 23
929 6 7
930 7 29
932 6 40
934 7 9
935 11 66
936 2 62
937 8 61
939 3 6
940 7 8
941 12 21
943 5 7
944 17 61
947 8 10
949 6 14
950 4 10
954 4 15
955 5 10
956 4 9
957 4 14
958 7 65
959 5 8
961 24 80
962 7 14
963 3 5
964 5 7
965 5 18
966 6 7
967 2 8
974 7 15
975 2 16
976 2 9
977 3 17
978 3 15
979 3 4
980 5 29
982 5 6
983 2 4
984 7 75
985 2 9
988 12 19
989 4 6
991 12 21
992 5 9
994 6 9
996 9 30
997 6 23
998 6 15
999 5 7
1002 7 9
1003 3 7
1005 6 8
1006 9 21
1007 6 8
1008 6 67
1009 4 7
1010 5 22
1011 5 12
1013 12 66
1015 7 24

In [89]:
def solution(ingredients, startIndex, target):
    ingredients_n = len(ingredients)
    left_index = startIndex
    right_index = startIndex
    step = 1
    
    for i in range(ingredients_n):
        if ingredients[left_index] == target or ingredients[right_index] == target:
            break
        
        left_index -= step
        right_index += step
        
        left_index %= ingredients_n
        right_index %= ingredients_n
    
    return i

'123'

In [93]:
def solution(s):
    max_string = s.count('1') * '1' + s.count('0') * '0'
    answer = ""
    for i in range(len(max_string)):
        max_string = max_string[::-1]
        answer += max_string[-1]
        max_string = max_string[:-1]
    answer = answer[::-1]
    return answer

solution('1100')

'0101'

In [64]:
df = pd.read_csv('ratio_result.csv', index_col=0)
df['datetime'] = df['timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(int(x/1000)))
df['index'] = df.index
df['index'] = df['index'].apply(lambda x: x // 4)
df = df[['index', 'datetime', 'vehicle_symbol', 'base_quote', 'secondary_quote', 'ratio', 'timestamp']]
df.to_csv('ratio_result_mod.csv', index=False)

In [12]:
df = pd.DataFrame()
df['a'] = [1,2,3,4]
df['b'] = [3,4,5,6]
df['c'] = ['A',"B","C","D"]
df.set_index('c',drop=False)

# df.to_dict('index')

   a  b  c
c
A  1  3  A
B  2  4  B
C  3  5  C
D  4  6  D

In [35]:
bn = myBinance(API_KEY, SECRET_KEY)
bn.get_order_book(symbol='BTCUSDT', limit=10)

{'lastUpdateId': 20148882710,
 'bids': [['20646.02000000', '1.59221000'],
  ['20645.84000000', '0.00510000'],
  ['20645.46000000', '0.00150000'],
  ['20644.68000000', '0.01106000'],
  ['20643.44000000', '0.00060000'],
  ['20643.11000000', '0.28000000'],
  ['20642.90000000', '0.00096000'],
  ['20642.89000000', '1.07456000'],
  ['20642.56000000', '0.05200000'],
  ['20642.55000000', '0.36767000']],
 'asks': [['20646.03000000', '0.12411000'],
  ['20648.13000000', '0.08761000'],
  ['20649.73000000', '0.01000000'],
  ['20650.05000000', '0.11388000'],
  ['20650.06000000', '0.24221000'],
  ['20650.16000000', '0.10000000'],
  ['20650.35000000', '0.10000000'],
  ['20650.92000000', '0.01000000'],
  ['20651.12000000', '0.09548000'],
  ['20651.32000000', '0.09548000']]}

In [4]:
def slope_sign(s):
    if s > 0:
        return 1
    elif s < 0:
        return -1
    else:
        return 0


def strategy_signal_ma_cross(v1, v2, slope_check_n):
    ######################################################################
    # 크로스 여부 체크 로직.
    signal = [0]
    for i in range(len(v1)):
        if i == 0:
            continue
        
        # 현재 값이나 예전 값이 같은 경우. 무효
        if (v1[i] == v2[i]) or (v1[i-1] == v2[i-1]):
            signal.append(0)
            continue

        # v1 값이 v2 값을 하향돌파 하는 경우. 데드크로스.
        if (v1[i-1] > v2[i-1]) and (v1[i] < v2[i]):
            signal.append(-1)
        # v1 값이 v2 값을 상향돌파 하는 경우. 골든크로스.
        elif (v1[i-1] < v2[i-1]) and (v1[i] > v2[i]):
            signal.append(1)
        # 그 외의 경우 무효.
        else:
            signal.append(0)
    
    ######################################################################
    # 기울기 체크 로직. dataframe으로 계산 시 속도 느릴 수 있음. 추후 개선 필요.
    df = pd.DataFrame()
    df['v1'] = v1
    df['v2'] = v2
    df['signal_cross'] = signal
    df['v1_diff'] = df['v1'].diff(1).fillna(0)
    df['v2_diff'] = df['v2'].diff(1).fillna(0)

    all_check = []
    for r_df in df[['v1_diff', 'v2_diff']].rolling(slope_check_n):
        if r_df.shape[0] < slope_check_n:
            all_check.append(0)
            continue
        if np.all(r_df > 0):
            all_check.append(1)
        elif np.all(r_df < 0):
            all_check.append(-1)
        else:
            all_check.append(0)
    df['signal_all_slope'] = all_check
    df['signal_total'] = df['signal_cross'] * (df['signal_cross'] * df['signal_all_slope'])
    
    return df

In [20]:
test_df = pd.DataFrame()
test_df['a'] = [1,2,1,2,4,11,9,5,1,6,7]
test_df['b'] = [4,2,1,2,4,6,5,4,3,8,1]
# strategy_signal_ma_cross(test_df['a'].tolist(), test_df['b'].tolist(), 3)
# test_df.append({'a':100, 'b':200}, ignore_index=True)
dic = {'a':100, 'b':200}

pd.concat([test_df, pd.DataFrame(dic, index=[0])], ignore_index=True)
# pd.DataFrame(dic, index=[0])

      a    b
0     1    4
1     2    2
2     1    1
3     2    2
4     4    4
5    11    6
6     9    5
7     5    4
8     1    3
9     6    8
10    7    1
11  100  200

In [40]:
a = [1,2,3]
a[-1] = 4
a

# logging.warning(f"\n{test_df}")

tele_bot = telegram.Bot(TELEGRAM_BOT_TOKEN)
tele_bot.sendMessage(chat_id=TELEGRAM_CHAT_ID, text="    > 포지션 <b>진입</b> 완료.", parse_mode=telegram.ParseMode.HTML)

round(5.3123123, 2)

5.31

In [49]:
for i in range(10):
    try:
        a = 1/0
    except Exception as e:    # 모든 예외의 에러 메시지를 출력할 때는 Exception을 사용
        print("a")
        continue
        print(e)

a
a
a
a
a
a
a
a
a
a

In [38]:
client.get_order_book(symbol='BNBBTC')

NameError: name 'client' is not defined